<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:minSdkVersion="7"
        >
        <activity android:name=".Registration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Anketa_Coach">
        </activity>

        <activity android:name=".Anketa_Sportsmen_P1">
        </activity>
        <activity android:name=".Anketa_Sportsmen_P2">
        </activity>
        <activity android:name=".Params_Coach">
        </activity>
        <activity android:name=".Params_Sportsmen">
        </activity>
        <activity android:name=".Params_Edit">
        </activity>
        <activity android:name=".Trainings_Sportsmen">
        </activity>
        <activity android:name=".Trainings_Coach">
        </activity>
        <activity android:name=".Load_Trainings">
        </activity>
        <activity android:name=".Chat_Coach">
        </activity>
        <activity android:name=".Chat_Sportsmen">
        </activity>

    </application>
   <permission android:name="android.permission.INTERNET"
       />
    <supports-screens android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
    android:requiresSmallestWidthDp="720"
    android:compatibleWidthLimitDp="720"
     />
</manifest>